body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: whitesmoke;
  font-family: Arial;
}

.calculator {
  background: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
}

#display {
  background: black;
  color: white;
  font-size: 2em;
  padding: 10px;
  margin-bottom: 10px;
  text-align: right;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.operator {
  background: orange;
}

.equal {
  background: green;
  color: white;
}

.clear {
  background: red;
  color: white;
}